/*! hugo-smorg theme | github.com/solutionroute/hugo-smorg */
// See README.md for build instructions.

// Variable definition and import order is important. 
// 1. Import any Bulmaswatch variables first.
// 2. Override Bulmaswatch variables as required.
// 3. Import Bulma itself
// 4. Import swatch overrides
// 5. Finish off with any theme specific customizations.

// 1 
@import "bulmaswatch/lux/variables";
// 2 
$body-size:16px; 
$link: hsl(217, 71%,  53%);
$family-sans-serif: "Open Sans", system-ui, sans-serif;
$family-primary: $family-sans-serif;
$family-monospace: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
// 3
@import "bulma/bulma";
// 4
@import "bulmaswatch/lux/overrides";
// 5

// Providing syntax highlighting theme:
@import 'chroma-sass-themes/scss/taapaca';
// @import 'chroma-sass-themes/scss/vimspectrgrey-dark';
// @import 'chroma-sass-themes/scss/vimspectr210-light';
// @import 'chroma-sass-themes/scss/github';
// Defines a future-proof "system-ui" font using local system font face declarations
@import 'system-font-css/system-font';

// Optional!
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i);

// make footer background on short pages seem infinite
html {
	background-color: $white-ter !important;
}

body > section {
	background-color: $white !important;
	&.section.hero {
		padding: 0px !important;
	}
}
