<!--
References config file variables:
	.Site.Params.logotype
	.Site.Params.footer
	.Site.Params.subfooter
	.Site.Copyright
-->
<footer class="footer">
  <div class="container content">
	<div class="has-text-centered">
		<p class="has-text-grey is-size-7"> 
			  {{ dateFormat "2006" now }} {{ with .Site.Copyright }} {{ . | safeHTML }}<br>
			  {{ else }}{{ "Add config: Copyright" }}{{end}}
		</p>
	</div>
  </div>
</footer>

