<!--
	Included in baseof.html "head" block by default. Page templates can either
	replace the entire head, or include additional elements using:
		partials/head-custom.html (meta, link, styles, etc)
		partials/js-head.html (any Javascript that must be in head)
	
	Always consult _default/baseof.html to see what you may be replacing or overriding.
	Note: Title is defined in _defaults/baseof.html and layouts/*.html
-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="index,follow">
	<meta name="google-site-verification" content="3J3k4xJ57XiBYffBafHhCZkUVqh0sQ7akLtequQVEMQ" />
	<base href="{{ .Site.BaseURL }}">
	{{ if ne .Kind "404" }}<link rel="canonical" href="{{ .Permalink }}">
	{{- with $.Description }}<meta name="description" content="{{.}}">{{ end }}
	{{- range .AlternativeOutputFormats }} <!-- RSS, Atom feeds -->
	<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" 
	      href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title }}">{{ end }}
	{{- end }}
	<link rel="preload" href="{{ $.Site.Params.cssPath | default "css/smorg.css" | absURL }}" as="style">
  	<link rel="stylesheet" href="{{ $.Site.Params.cssPath | default "css/smorg.css" | absURL }}">
	<link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans">
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
	{{ partial "seo" . }}
	{{- partial "favicon.html" . -}}